In [1]:
# Import the libraries

import numpy as np 
import matplotlib.pyplot as plt

In [2]:
# Create a list

a = [[11, 12, 13], [21, 22, 23], [31, 32, 33]]
a

[[11, 12, 13], [21, 22, 23], [31, 32, 33]]

In [3]:
# Convert list to Numpy Array
# Every element is the same type

A = np.array(a)
A

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [4]:
# Show the numpy array dimensions

A.ndim

2

In [5]:
# Show the numpy array shape

A.shape

(3, 3)

In [7]:
# Show the numpy array size

A.size

9

In [8]:
# Access the element on the second row and third column

A[1, 2]

23

In [9]:
# Access the element on the second row and third column

A[1][2]

23

In [10]:
# Access the element on the first row and first column

A[0][0]

11

In [11]:
# Access the element on the first row and first and second columns

A[0][0:2]

array([11, 12])

In [12]:
# Access the element on the first and second rows and third column

A[1:3, 2]

array([23, 33])

In [13]:
# Create a numpy array X

X = np.array([[1, 0], [0, 1]]) 
X

array([[1, 0],
       [0, 1]])

In [14]:
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]]) 
Y

array([[2, 1],
       [1, 2]])

In [15]:
# Add X and Y

Z = X + Y
Z

array([[3, 1],
       [1, 3]])

In [16]:
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]]) 
Y

array([[2, 1],
       [1, 2]])

In [17]:
# Multiply Y with 2

Z = 2 * Y
Z

array([[4, 2],
       [2, 4]])

In [18]:
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]]) 
Y

array([[2, 1],
       [1, 2]])

In [19]:
# Create a numpy array X

X = np.array([[1, 0], [0, 1]]) 
X

array([[1, 0],
       [0, 1]])

In [20]:
# Multiply X with Y

Z = X * Y
Z

array([[2, 0],
       [0, 2]])

In [21]:
# Create a matrix A

A = np.array([[0, 1, 1], [1, 0, 1]])
A

array([[0, 1, 1],
       [1, 0, 1]])

In [22]:
# Create a matrix B

B = np.array([[1, 1], [1, 1], [-1, 1]])
B

array([[ 1,  1],
       [ 1,  1],
       [-1,  1]])

In [23]:
# Calculate the dot product

Z = np.dot(A,B)
Z

array([[0, 2],
       [0, 2]])

In [24]:
# Calculate the sine of Z

np.sin(Z)

array([[0.        , 0.90929743],
       [0.        , 0.90929743]])

In [25]:
# Create a matrix C

C = np.array([[1,1],[2,2],[3,3]])
C

array([[1, 1],
       [2, 2],
       [3, 3]])

In [26]:
# Get the transposed of C

C.T

array([[1, 2, 3],
       [1, 2, 3]])

In [29]:
a=np.array([1,1,1,1,1])

a+10

array([11, 11, 11, 11, 11])

In [30]:
3+2*2

7

In [31]:
int(3.2)

3

In [32]:
A='1234567'
A[1::2]

'246'

In [33]:
Name="Michael Jackson" 
Name.find('el')

5

In [34]:
A='1' 
B='2'

A+B

'12'

In [35]:
tuple1=("A","B","C" )
tuple1[-1]

'C'

In [36]:
A=((11,12),[21,22])
A[1]

[21, 22]

In [37]:
A=((11,12),[21,22])
A[0][1]

12

In [38]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [40]:
A=[1,'a']
B=[2,1,'d']

In [41]:
V={'A','B'}
V.add('C')

In [53]:
class Points(object):

def __init__(self,x,y):

self.x=x

self.y=y

def print_point(self):

print('x=',self.x,' y=',self.y)

p1=Points(1,2)

p1.print_point()

IndentationError: expected an indented block (<ipython-input-53-e56bb283d488>, line 3)